* {
    margin: 0;
}

a {
    color: dodgerblue;
}

body {
    text-align: center;
    background-color: rgb(17, 18, 58);
    color: white;
}

#AssignmentList {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(12, 35, 75);
    list-style-position: inside;
    float: left;
    height: 440px;
    width: 60%;
    overflow-y: auto;
    margin-left: 25;
    margin-right: 25;
}

h1 {
    font-size: 6em;
    margin-top: 50px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.2em;
}

h2 {
    background-color: rgb(47, 69, 107);
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: normal;
}

ul {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
}

a {
    color: lightblue;
    font-size: 1.25em;
    margin-left: 0px;
}

t {
    font-size: 1.25em;
}

#Banner {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 150px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-top: -50px;
    border: 0px solid black;
    background-color: rgb(193, 2, 48);
    list-style-position: inside;
    font-weight: normal;
}

#flex_container {
    display: flex;
    border: 2px;
    margin-top: 25px;
    overflow: hidden;
}

#right_flex {
    display: flex;
    flex-direction: column;
}

#links {
    border: 2px;
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
}

#Assignment {
    font-family: 'Courier New', Courier, monospace;
    float: left;
    background-color: rgb(47, 69, 107);
    margin: auto;
    height: 100px;
    width: 175px;
    padding-top: 25px;
}

#Schedule {
    font-family: 'Courier New', Courier, monospace;
    float: right;
    background-color: rgb(47, 69, 107);
    margin: auto;
    height: 100px;
    width: 175px;
    padding-top: 25px;
}

#blurb {
    margin-top: 25px;
    margin-left: 64%;
    border-radius: 20px;
    font-size: 2em;
    height: 270;
    padding: 10px;
    margin-right: 25px;
    color: rgb(87, 125, 158);
}