body {
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
}

#AssignmentList {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(81, 87, 93);
    list-style-position: inside;
}

#loadingh {
    visibility: hidden;
    position: fixed;
    left: 30%;
    right: 30%;
    top: 30%;
}

h1 {
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
}

li {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
}

a {
    color: lightblue;
    font-size: 1.25em;
    margin-left: 0px;
}

t {
    font-size: 1.25em;
}

#Banner {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
    border: 0px solid black;
    background-color: rgb(81, 87, 93);
    list-style-position: inside;
}