{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/index.css'%}"
    </head>
    <body>
<div id = "Banner">

<h1>Schedule Bot</h1>

</div>
<div class ="flex_container">    
<div id = "AssignmentList">
<h2> Assignments</h2>
<ul>
    {%for info in user_info%}
        <p>{{info.assignment_name}} {{info.due_date}}</p>
        {%endfor%}
</ul>
</div>
<div class = "right_flex">
<div id = "links">
<br>
<div id = "Assignment">
<a href="{%url 'add'%}">Add Assignment</a>
</div>
<br>
<br>
<div id = "Schedule">
<a href="{%url 'generate'%}">Generate Schedule</a>
</div>
</div>
<div id="blurb">
<p>This is a tool that will take your assignments and hobbies, helping to create a schedule that can allow you to improve your focus and you productivity by giving you designated breaks and homework time to fit your schedule.</p>


</div>
</div>
</div>
        <script src="" async defer></script>
    </body>
</html>