{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css\index.css'%}"
    </head>
    <body>
<div id = "Banner">

</div>

<h1>Schedule Bot</h1>
        
<div id = "AssignmentList">
<h2> Assignments</h2>
<ul>
    {%for info in user_info%}
        <p>{{info.assignment_name}} {{info.due_date}}</p>
        {%endfor%}
</ul>
</div>
<br>
<t>Click here to add an assignment - </t><a href="{%url 'add'%}">Add Assignment</a>
 
<br>
<br>
<t>Click here to generate your potential schedule - </t><a href="{%url 'generate'%}">Generate Schedule</a> 

        <script src="" async defer></script>
    </body>
</html>